cloudshell-automation-api>=9.2
-e git+https://github.com/QualiSystems/cloudshell-networking-cisco.git@dev#egg=cloudshell-networking-cisco
-e git+https://github.com/QualiSystems/cloudshell-shell-networking-standard.git@dev#egg=cloudshell-shell-networking-standard
-e git+https://github.com/QualiSystems/cloudshell-shell-core.git@dev#egg=cloudshell-shell-core
